.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1323px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

#u87-4
{
	z-index: 29;
	width: 1000px;
	min-height: 27px;
	text-align: center;
	font-size: 24px;
	color: #7F7F7F;
	line-height: 29px;
	font-weight: normal;
	font-style: italic;
	position: relative;
}

#pu775
{
	width: 0.01px;
	margin-top: 10px;
	position: relative;
}

#u775
{
	z-index: 87;
	width: 373px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
}

#u69
{
	z-index: 2;
	width: 219px;
	position: relative;
	margin-right: -10000px;
	left: 391px;
}

#u763
{
	z-index: 85;
	width: 340px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 627px;
}

#pu82-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 48px;
	position: relative;
}

#u82-4
{
	z-index: 9;
	width: 182px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}


#u82-4
{
	color:#59B947
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u82-4
{
	font-weight: bold;
}

#u83-4
{
	z-index: 13;
	width: 182px;
	min-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#u84-4
{
	z-index: 17;
	width: 182px;
	min-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u85-4
{
	z-index: 21;
	width: 182px;
	min-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 578px;
}

#u86-4
{
	z-index: 25;
	width: 182px;
	min-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 771px;
}

#u77
{
	z-index: 4;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u78
{
	z-index: 5;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 217px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u79
{
	z-index: 6;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 409px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u80
{
	z-index: 7;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 601px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u81
{
	z-index: 8;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 794px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u88-4
{
	z-index: 33;
	width: 1000px;
	min-height: 41px;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	margin-top: 61px;
	position: relative;
}

#u89-8
{
	z-index: 37;
	width: 588px;
	min-height: 136px;
	text-align: justify;
	color: #FFFFFF;
	margin-left: 206px;
	margin-top: 6px;
	position: relative;
}

#pu92
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 75px;
	position: relative;
}

#u92
{
	z-index: 51;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	position: relative;
	margin-right: -10000px;
}

#u91
{
	z-index: 49;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u93
{
	z-index: 53;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#ppu678
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 7px;
	position: relative;
}

#pu678
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 340px;
}

#u678
{
	z-index: 75;
	width: 300px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
}

#u678_img
{
	margin-left: -6px;
	margin-right: -5px;
}

#u684
{
	z-index: 77;
	width: 95px;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 102px;
}

#u685
{
	z-index: 78;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u686
{
	z-index: 79;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(0,-1,1,0,46,49);
	-ms-transform: matrix(0,-1,1,0,46,49);
	-o-transform: matrix(0,-1,1,0,46,49);
	transform: matrix(0,-1,1,0,46,49);
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u666
{
	z-index: 70;
	width: 300px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u666_img
{
	margin-left: -41px;
	margin-right: -41px;
}

#u672
{
	z-index: 72;
	width: 95px;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 780px;
}

#u674
{
	z-index: 73;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u673
{
	z-index: 74;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(0,-1,1,0,46,49);
	-ms-transform: matrix(0,-1,1,0,46,49);
	-o-transform: matrix(0,-1,1,0,46,49);
	transform: matrix(0,-1,1,0,46,49);
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u690
{
	z-index: 80;
	width: 300px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u690_img
{
	margin-left: -44px;
	margin-right: -44px;
}

#u696
{
	z-index: 82;
	width: 95px;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 103px;
}

#u698
{
	z-index: 83;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u697
{
	z-index: 84;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(0,-1,1,0,46,49);
	-ms-transform: matrix(0,-1,1,0,46,49);
	-o-transform: matrix(0,-1,1,0,46,49);
	transform: matrix(0,-1,1,0,46,49);
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#pu101
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 57px;
	position: relative;
}

#u101
{
	z-index: 52;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
	margin-right: -10000px;
}

#u100
{
	z-index: 50;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u102
{
	z-index: 54;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#ppu645
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 9px;
	position: relative;
}

#pu645
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u645
{
	z-index: 60;
	width: 300px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
}

#u619
{
	z-index: 62;
	width: 95px;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 102px;
}

#u616
{
	z-index: 63;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u617
{
	z-index: 64;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(0,-1,1,0,46,49);
	-ms-transform: matrix(0,-1,1,0,46,49);
	-o-transform: matrix(0,-1,1,0,46,49);
	transform: matrix(0,-1,1,0,46,49);
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u608
{
	z-index: 55;
	width: 300px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u618
{
	z-index: 57;
	width: 95px;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 782px;
}

#u614
{
	z-index: 58;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u615
{
	z-index: 59;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(0,-1,1,0,46,49);
	-ms-transform: matrix(0,-1,1,0,46,49);
	-o-transform: matrix(0,-1,1,0,46,49);
	transform: matrix(0,-1,1,0,46,49);
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u651
{
	z-index: 65;
	width: 300px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
}

#u678_clip,#u666_clip,#u690_clip,#u651_clip
{
	overflow: hidden;
	width: 300px;
	height: 185px;
}

#u651_img
{
	margin: -7px -64px -233px -476px;
}

#u663
{
	z-index: 67;
	width: 95px;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 103px;
}

#u664
{
	z-index: 68;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u665
{
	z-index: 69;
	width: 95px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(0,-1,1,0,46,49);
	-ms-transform: matrix(0,-1,1,0,46,49);
	-o-transform: matrix(0,-1,1,0,46,49);
	transform: matrix(0,-1,1,0,46,49);
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u90-4
{
	z-index: 45;
	width: 1000px;
	min-height: 12px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 105px;
	position: relative;
}

body
{
	padding-top: 2px;
	padding-bottom: 12px;
}

#page .verticalspacer
{
	clear: both;
}

