.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1001px;
	min-height: 1806px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 16px 9px 10px 10px;
}

#pu522
{
	width: 0.01px;
	margin-left: 20px;
	position: relative;
}

#u522
{
	z-index: 2;
	width: 281px;
	position: relative;
	margin-right: -10000px;
}

#pu529-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 300px;
}

#u529-4
{
	z-index: 8;
	width: 360px;
	min-height: 84px;
	text-align: left;
	color: #FFFFFF;
	font-size: 72px;
	line-height: 86px;
	font-weight: bold;
	position: relative;
}

#pu783
{
	width: 0.01px;
	margin-top: 9px;
	position: relative;
}

#u783
{
	z-index: 115;
	width: 337px;
	position: relative;
	margin-right: -10000px;
}

#u781
{
	z-index: 113;
	width: 301px;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u528-4
{
	z-index: 12;
	width: 660px;
	min-height: 27px;
	text-align: center;
	font-size: 24px;
	color: #7F7F7F;
	line-height: 29px;
	font-weight: normal;
	font-style: italic;
	margin-left: 20px;
	margin-top: 2px;
	position: relative;
}

#pu532
{
	width: 0.01px;
	margin-top: 52px;
	position: relative;
}

#u532
{
	z-index: 16;
	width: 12px;
	padding-bottom: 142px;
	position: relative;
	margin-right: -10000px;
}

#u531
{
	z-index: 18;
	width: 290px;
	height: 6px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(0,1,-1,0,148,-142);
	-ms-transform: matrix(0,1,-1,0,148,-142);
	-o-transform: matrix(0,1,-1,0,148,-142);
	transform: matrix(0,1,-1,0,148,-142);
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: -142px;
}

#u530
{
	z-index: 17;
	width: 290px;
	height: 6px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(0,1,-1,0,148,-142);
	-ms-transform: matrix(0,1,-1,0,148,-142);
	-o-transform: matrix(0,1,-1,0,148,-142);
	transform: matrix(0,1,-1,0,148,-142);
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: -136px;
}

#u756
{
	z-index: 111;
	width: 293px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 27px;
}

#u534-27
{
	z-index: 19;
	width: 545px;
	min-height: 248px;
	text-align: justify;
	text-indent: 20px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 340px;
}

#u534-4,#u534-6,#u534-8,#u534-13
{
	font-style: italic;
}

#u534-2,#u534-12,#u534-19,#u534-21
{
	font-weight: bold;
	font-style: italic;
}

#pu539
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 129px;
	position: relative;
}

#u539
{
	z-index: 79;
	width: 143px;
	border-width: 10px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u543
{
	z-index: 83;
	width: 129px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u537-4
{
	z-index: 87;
	width: 129px;
	min-height: 37px;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
}

#u536
{
	z-index: 46;
	width: 480px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(-1,0,0,-1,480,12);
	-ms-transform: matrix(-1,0,0,-1,480,12);
	-o-transform: matrix(-1,0,0,-1,480,12);
	transform: matrix(-1,0,0,-1,480,12);
	position: relative;
}

#u538-4
{
	z-index: 50;
	width: 480px;
	min-height: 133px;
	text-align: justify;
	color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#u599
{
	z-index: 109;
	width: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 674px;
}

#u553
{
	z-index: 80;
	width: 143px;
	border-width: 10px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u554
{
	z-index: 84;
	width: 129px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u571-4
{
	z-index: 91;
	width: 129px;
	min-height: 37px;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
}

#u552
{
	z-index: 47;
	width: 368px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(-1,0,0,-1,368,12);
	-ms-transform: matrix(-1,0,0,-1,368,12);
	-o-transform: matrix(-1,0,0,-1,368,12);
	transform: matrix(-1,0,0,-1,368,12);
	position: relative;
}

#u550-9
{
	z-index: 54;
	width: 480px;
	min-height: 133px;
	text-align: justify;
	color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#u593
{
	z-index: 107;
	width: 320px;
	position: relative;
	margin-right: -10000px;
	left: 675px;
}

#pu558
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 58px;
	position: relative;
}

#u558
{
	z-index: 81;
	width: 143px;
	border-width: 10px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u559
{
	z-index: 85;
	width: 129px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u572-4
{
	z-index: 95;
	width: 129px;
	min-height: 37px;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u557
{
	z-index: 48;
	width: 239px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(-1,0,0,-1,239,12);
	-ms-transform: matrix(-1,0,0,-1,239,12);
	-o-transform: matrix(-1,0,0,-1,239,12);
	transform: matrix(-1,0,0,-1,239,12);
	position: relative;
}

#u555-9
{
	z-index: 63;
	width: 480px;
	min-height: 133px;
	text-align: justify;
	color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#u587
{
	z-index: 105;
	width: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 674px;
}

#pu553,#pu567
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 59px;
	position: relative;
}

#u567
{
	z-index: 82;
	width: 143px;
	border-width: 10px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u568
{
	z-index: 86;
	width: 129px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u573-4
{
	z-index: 99;
	width: 129px;
	min-height: 37px;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#pu536,#pu552,#pu557,#pu570
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u570
{
	z-index: 49;
	width: 126px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(-1,0,0,-1,126,12);
	-ms-transform: matrix(-1,0,0,-1,126,12);
	-o-transform: matrix(-1,0,0,-1,126,12);
	transform: matrix(-1,0,0,-1,126,12);
	position: relative;
}

#u566-7
{
	z-index: 72;
	width: 480px;
	min-height: 133px;
	text-align: justify;
	color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#u581
{
	z-index: 103;
	width: 320px;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#u525-4
{
	z-index: 4;
	width: 1000px;
	min-height: 12px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 115px;
	position: relative;
}

body
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#page .verticalspacer
{
	clear: both;
}

