.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1518.8405369207298px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 10px 10.159463079270154px;
}

#u149
{
	z-index: 2;
	width: 170px;
	margin-left: 415px;
	position: relative;
}

#pu156-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 32px;
	position: relative;
}

#u156-4
{
	z-index: 9;
	width: 182px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u157-4
{
	z-index: 13;
	width: 182px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#u158-4
{
	z-index: 17;
	width: 182px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u158-4.
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u158-4.p
{
	font-weight: bold;
}

#u159-4
{
	z-index: 21;
	width: 182px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 578px;
}

#u160-4
{
	z-index: 25;
	width: 182px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 771px;
}

#u151
{
	z-index: 4;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u152
{
	z-index: 5;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 216px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u153
{
	z-index: 6;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 409px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u154
{
	z-index: 7;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 601px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u155
{
	z-index: 8;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 794px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu699
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 76px;
	position: relative;
}

#u699
{
	z-index: 97;
	width: 300px;
	position: relative;
	margin-right: -10000px;
}

#u699_img
{
	margin-left: -44px;
	margin-right: -44px;
}

#u675
{
	z-index: 93;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u675_img
{
	margin-left: -41px;
	margin-right: -41px;
}

#u702
{
	z-index: 99;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u702_img
{
	margin-top: -21px;
	margin-bottom: -21px;
}

#u172
{
	z-index: 41;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
}

#u162
{
	z-index: 33;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u164
{
	z-index: 37;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u175-4
{
	z-index: 45;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u176-4
{
	z-index: 61;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u177-4
{
	z-index: 77;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u708
{
	z-index: 101;
	width: 300px;
	position: relative;
	margin-right: -10000px;
}

#u708_img
{
	margin-left: -5px;
	margin-right: -4px;
}

#u714
{
	z-index: 103;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u714_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u687
{
	z-index: 95;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u687_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u185
{
	z-index: 43;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
}

#u180
{
	z-index: 35;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u179
{
	z-index: 39;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u186-4
{
	z-index: 53;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u183-4
{
	z-index: 69;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u178-4
{
	z-index: 85;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u720
{
	z-index: 105;
	width: 300px;
	position: relative;
	margin-right: -10000px;
}

#u720_img
{
	margin-right: -68px;
	margin-bottom: -1px;
}

#u726
{
	z-index: 107;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	left: 339px;
}

#u726_img
{
	margin-left: -34px;
	margin-right: -33px;
}

#u732
{
	z-index: 109;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u732_img
{
	margin-top: -5px;
	margin-bottom: -4px;
}

#pu205
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 9px;
	position: relative;
}

#u205
{
	z-index: 42;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
}

#u200
{
	z-index: 34;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u201
{
	z-index: 38;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u197-4
{
	z-index: 49;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u198-4
{
	z-index: 65;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u199-4
{
	z-index: 81;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#pu708,#pu720,#pu738
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 40px;
	position: relative;
}

#u738
{
	z-index: 111;
	width: 300px;
	position: relative;
	margin-right: -10000px;
}

#u738_img
{
	margin-left: -13px;
	margin-right: -13px;
}

#u744
{
	z-index: 113;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u744_img
{
	margin-top: -11px;
	margin-bottom: -11px;
}

#u750
{
	z-index: 115;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u699_clip,#u675_clip,#u702_clip,#u708_clip,#u714_clip,#u687_clip,#u720_clip,#u726_clip,#u732_clip,#u738_clip,#u744_clip,#u750_clip
{
	overflow: hidden;
	width: 300px;
	height: 185px;
}

#u750_img
{
	margin-top: -3px;
	margin-bottom: -4px;
}

#u188
{
	z-index: 44;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
}

#u190
{
	z-index: 36;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #59B947;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u191
{
	z-index: 40;
	width: 300px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	-webkit-transform: matrix(-1,0,0,-1,300,12);
	-ms-transform: matrix(-1,0,0,-1,300,12);
	-o-transform: matrix(-1,0,0,-1,300,12);
	transform: matrix(-1,0,0,-1,300,12);
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#pu172,#pu175-4,#pu185,#pu186-4,#pu197-4,#pu188,#pu189-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u189-4
{
	z-index: 57;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u195-4
{
	z-index: 73;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u196-4
{
	z-index: 89;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u187-4
{
	z-index: 29;
	width: 1000px;
	min-height: 12px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
}

body
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#page .verticalspacer
{
	clear: both;
}

