.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1405.75946307927px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 18px 10px 10.240536920729937px;
}

#u109
{
	z-index: 2;
	width: 170px;
	margin-left: 415px;
	position: relative;
}

#pu116-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 32px;
	position: relative;
}

#u116-4
{
	z-index: 9;
	width: 182px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u117-4
{
	z-index: 13;
	width: 182px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#u117-4.
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u117-4.p
{
	font-weight: bold;
}

#u118-4
{
	z-index: 17;
	width: 182px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u119-4
{
	z-index: 21;
	width: 182px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 578px;
}

#u120-4
{
	z-index: 25;
	width: 182px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 771px;
}

#u111
{
	z-index: 4;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u112
{
	z-index: 5;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 216px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u113
{
	z-index: 6;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 409px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u114
{
	z-index: 7;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 601px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u115
{
	z-index: 8;
	width: 182px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 793px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u122-4
{
	z-index: 49;
	width: 577px;
	min-height: 41px;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 403px;
	margin-top: 79px;
	position: relative;
}

#pu639
{
	width: 0.01px;
	margin-left: 126px;
	position: relative;
}

#u639
{
	z-index: 93;
	width: 214px;
	position: relative;
	margin-right: -10000px;
}

#pu124
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 277px;
}

#u124
{
	z-index: 86;
	width: 577px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
}

#u123-13
{
	z-index: 53;
	width: 577px;
	min-height: 280px;
	text-align: justify;
	color: #FFFFFF;
	text-indent: 30px;
	margin-top: 10px;
	position: relative;
}

#u123-2,#u123-4,#u123-6,#u123-8,#u123-10,#u123-11
{
	padding-right: 10px;
}

#u128-4
{
	z-index: 33;
	width: 214px;
	min-height: 20px;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	margin-left: 126px;
	margin-top: 4px;
	position: relative;
}

#pu129
{
	width: 0.01px;
	margin-top: 101px;
	position: relative;
}

#u129
{
	z-index: 87;
	width: 320px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
	margin-right: -10000px;
}

#u134
{
	z-index: 88;
	width: 320px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u137
{
	z-index: 89;
	width: 320px;
	height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #EC7A2C;
	position: relative;
	margin-right: -10000px;
	left: 679px;
}

#pu131-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 7px;
	position: relative;
}

#u131-4
{
	z-index: 37;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u133-4
{
	z-index: 41;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u136-4
{
	z-index: 45;
	width: 300px;
	min-height: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#pu631
{
	width: 0.01px;
	margin-top: 2px;
	position: relative;
}

#u631
{
	z-index: 92;
	width: 320px;
	min-height: 229px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u629
{
	z-index: 91;
	width: 320px;
	min-height: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u625
{
	z-index: 90;
	width: 320px;
	min-height: 221px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#pu139-8
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 12px;
	position: relative;
}

#u139-8
{
	z-index: 66;
	width: 300px;
	min-height: 246px;
	text-align: justify;
	color: #FFFFFF;
	text-indent: 20px;
	position: relative;
	margin-right: -10000px;
}

#u140-6
{
	z-index: 74;
	width: 300px;
	min-height: 246px;
	text-align: justify;
	color: #FFFFFF;
	text-indent: 20px;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u141-6
{
	z-index: 80;
	width: 300px;
	min-height: 246px;
	text-align: justify;
	color: #FFFFFF;
	text-indent: 20px;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u138-4
{
	z-index: 29;
	width: 1000px;
	min-height: 12px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 30px;
	position: relative;
}

body
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#page .verticalspacer
{
	clear: both;
}

